* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    /* height: 3000px; */
    padding-top: 70px;
    padding-left: 262px;
}